body {
  margin: 0;
  font-family: 'Graphik', sans-serif;
}

.gb-bank {
  background: url(https://nubank.com.br/images-cms/1664201016-home-nubank-mob.jpg?w=360&dpr=1&auto=compress&q=30);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  min-height: 155vh;
  margin: 0 auto;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;

  margin: 60px 0 20px 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  margin: 0 0 50px 0;
  font-weight: 500;
}

.conteudo__esquerdo {
  color: #ffffff;
  width: 100%;
  margin-bottom: 80px;
  padding-left: 16px;
}

.conteudo__direito {
  background: #ffffff;

  line-height: 1.32;

  width: 100%;
  max-width: 350px;
  padding: 25px;
  margin: 0 auto;
  border-radius: 20px;
}

.formulario__cpf {
  font-size: 16px;

  width: 100%;
  margin: 10px 0;
  padding: 5px 5px;
  border: none;
  border-bottom: 1px solid #979797;
}

.formulario__cpf::placeholder {
  font-family: 'Graphik', sans-serif;
  font-size: 0.8rem;

  transition: 0.5s;
}

.formulario__cpf:focus::placeholder {
  transform: translateY(-1.5rem);
  font-size: 0.7rem;
}

.formulario__cpf:hover {
  border-bottom: 1px solid #000000
}

.formulario__cpf:focus {
  outline: none;
  border-bottom: 1px solid #000000
}

.label-cpf {
  color: #8a8989;
  font-size: 0.7rem;

  padding-left: 5px;
}

.continuar {
  font-family: inherit;

  background: rgba(130, 10, 289, 1);

  width: 100%;
  height: 50px;
  margin: 17px 0;
  padding: 0 25px;
  border-radius: 25px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.continuar:disabled {
  background: #e9e9e9;
  cursor: not-allowed;
}

.continuar:disabled spam {
  color: #b1b1b1;
}

.continuar spam {
  color: #ffffff;
  font-weight: 500;
}

/*INICIO TRABALHO APARTE DE MENU*/
.cabecalho {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

}

.cabecalho a {
  padding: 5px 0;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}

.mobile {
  width: 100vw;
  height: 65px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#icon__hamburguer {
  cursor: pointer;
  padding: 8px;
}

.menu__logo {
  color: black;
}

.menu__logo img {
  width: 35px;
  padding: 2px 0;
  margin: auto 0;
}

.mobile button {
  background-color: transparent;
  border: none;
}

.menu {
  color: #000;
  width: 100vw;
}

.menu__item a {
  display: block;
  color: #000;
  width: 100%;
}

.menu__item+.menu__item {
  border-top: 1px solid rgba(130, 10, 289, 1);
}


.menu__item svg {
  fill: #000;
  margin-left: 8px
}

.menu__login {
  width: 100%;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(130, 10, 289, 1);
  border-top: 1px solid rgba(130, 10, 289, 1);
}

.login svg {
  margin-left: 5px;
}

#nav {
  display: none;
}

/*FINAL TRABALHO APARTE DE MENU*/

@media (min-width: 768px) {

  .gb-bank {
    background: url(https://nubank.com.br/images-cms/1664381507-home-nubank-tab.jpg?w=768&dpr=2&auto=compress&fm=webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .conteudo__direito {
    margin-right: 0;
  }

  .conteudo__esquerdo {
    width: 510px;
  }
}

@media (min-width: 1150px) {

  .gb-bank {
    background: url(https://nubank.com.br/images-cms/1664201099-home-nubank.jpg?w=1152&dpr=1&auto=compress&fm=webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
  }

  .conteudo {
    width: 94%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .conteudo__esquerdo {
    color: rgb(255, 255, 255);
    width: 38%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .conteudo__direito {
    max-width: 345px;
  }

  /*INICIO TRABALHO APARTE DE MENU NO QUERY*/


  .cabecalho {
    height: 60px;
    font-size: 1rem;
    padding: 0 35px 0 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cabecalho a {
    padding: 8px;
  }

  .menu__esquerdo {
    display: flex;
    flex-direction: row;
  }

  .mobile {
    width: unset;
  }

  .mobile button {
    display: none;
    background-color: #ffffff;
  }

  .menu__logo {
    color: black;
  }

  /* #icon__hamburguer {
    display: none;
  } */

  .menu__logo img {
    padding: 0;
  }

  .menu__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    height: 100%;
    flex-grow: 1;
    margin-left: 22px;
  }

  .menu__item+.menu__item {
    border-top: none;
  }

  .menu__login {
    width: fit-content;
  }

  .login {
    font-size: 1.1rem;
    border-top: none;
    width: 100px;
  }

  .linha {
    display: block;
    width: 0px;
    height: 2px;
    margin: 4px 0 0 0;
    background: rgba(130, 10, 289, 1);
    transition: 0.5s
  }

  .menu__login:hover .linha {
    width: 100%;
  }

  #nav {
    display: block !important;
  }

  /*FINAL TRABALHO APARTE DE MENU*/

}